* {
    margin:                                     0;
    padding:                                    0;
    font-family:                                Georgia, 'Times New Roman', Times, serif;
}
body {
    /* background-color:                           rgb(27, 27, 27); */
    background-image:                           url("../images/star.jpg");
    background-size: 100%;
    display:                                    flex;
    flex-direction:                             column;
    justify-content:                            flex-end;
    align-items:                                center;
    color:                                      white;
}
input {
    display:                                    inline;
}
.part1 {
    display:                                    flex;
    width:                                      100%;
    flex-direction:                             row;
    align-items:                                center;
    justify-content:                            space-around;
    margin:                                     30px 0px 30px 0px;
}
.logo {
    width:                                      250px;
}
.instruments {
    width:                                      500px;
    display:                                    flex;
    justify-content:                            space-around;
}
.instruments span {
    display:                                    flex;
    flex-direction:                             column;
    align-items:                                center;
    padding:                                    5px;
}
.currentInstrument {
    box-shadow:                                 1px 1px 5px gray;
}
.feature {
    width:                                      400px;
}

.part2 {
    display:                                    flex;
    width:                                      100%;
    justify-content:                            space-around;
    align-items:                                flex-start;
}
.melody_list {
    /* position:                                   fixed; */
    left:                                       20px;
    margin:                                     0px 0px 0px 0px;
    height:                                     400px;
    width:                                      250px;
    overflow-y:                                 scroll;
    overflow-x:                                 hidden;
}
::-webkit-scrollbar {
    display:                                    none;
}
.lists {
    height:                                     60px;
    width:                                      230px;
    border:                                     1px rgb(236, 235, 235) dashed;
    background-color:                           rgba(167, 179, 243, 0);
    border-radius:                              15px;
    margin:                                     15px 0px 15px 0px;
    padding:                                    5px;
    display:                                    flex;
    align-items:                                center;
    justify-content:                            space-around;
}
.currentList {
    border:                                     2px rgb(236, 235, 235) solid;
}
.lists .del:hover {
    cursor:                                     pointer;
    color:                                      rgb(248, 53, 53);
}
.lists .add {
    font-size:                                  110%;
    margin-left:                                10px;
}
.lists .add:hover {
    cursor:                                     pointer;
    color:                                      blue;
    font-size:                                  110%;
}
.lists input {
    color:                                      white;
    width:                                      180px;
    outline:                                    none;
    background:                                 none;
    border:                                     none;
    font-size:                                  120%;
}
.lists span {
    visibility:                                 hidden;
    font-size:                                  180%;
}
.lists:hover span {
    visibility:                                 visible;
}
.lists button {
    visibility:                                 hidden;
}
.lists:hover button {
    visibility:                                 visible;
}
.rows {
    display:                                    flex;
    flex-direction:                             row;
    /* justify-content:                            space-around; */
}
.launchpad {
    width:                                      500px;
    display:                                    flex;
    flex-direction:                             column;
    align-items:                                center;
    margin:                                     -5px 0px 20px 0px;
}
.launchpad button {
    width:                                      25px;
    height:                                     25px;
    margin:                                     5px;
    border:                                     none;
    border-radius:                              1px;
    background-color:                           rgb(42, 42, 42);
}
.property {
    width:                                      280px;
    height:                                     400px;
    display:                                    flex;
    flex-direction:                             column;
    align-items:                                center;
    justify-content:                            center;
    border:                                     1px white dashed;
    border-radius:                              30px;
    margin:                                     0px 74px 0px 74px;
    /* padding:                                    40px;
    background-image:                            url("../images/moon.png");
    background-repeat:                          no-repeat;
    background-size:                            20%;
    background-position:                        bottom right; */
}
.property button {
    background:                                 none;
    width:                                      80px;
    border-radius:                              15px;
    color:                                      whitesmoke;
    font-size:                                  110%;
    border:                                     1px solid white;
    margin:                                     0px 15px 0px 15px;
    cursor:                                     pointer;
    padding:                                    5px;
}
.roll_bar {
    margin:                                     45px 0px 45px 0px;
    display:                                    flex;
    flex-direction:                             row;
    justify-content:                            space-around;
    align-items:                                center;
}

.roll_bar input {
    height:                                     20px;
    margin:                                     0px 5px 0px 0px;
}
.property_name {
    width:                                      80px;
}
.timeline {
    background:                                 none;
    /* border:                                     1px white solid; */
    /* border-radius:                              20px; */
    margin:                                     0px 0px 20px 0px;
    box-shadow:                                 1px 1px 9px whitesmoke;
    position:                                   relative;
}
.play {
    position:                                   absolute;
    right:                                      1%;
    top:                                        40%;
    cursor:                                     pointer;
}

button {
    cursor:                                     pointer;
}
button:hover {
    border:                                     1px solid white;
}
.lists button {
    border:                                     none;
    background:                                 none;
    color:                                      white;
}
.feature button {
    background:                                 none;
    width:                                      60px;
    border-radius:                              15px;
    color:                                      whitesmoke;
    font-size:                                  110%;
    border:                                     1px solid white;
    margin:                                     0px 5px 0px 5px;
    cursor:                                     pointer;
    padding:                                    5px;
}

.feature button:hover {
    border:                                     1px solid white;
    border-radius:                              10px;
    padding:                                    5px;
}


#drag-1, #drag-2 {
    width: 25%;
    min-height: 6.5em;
    margin: 10%;
    background-color: #29e;
    color: white;
    border-radius: 0.75em;
    padding: 4%;
    touch-action: none;
    user-select: none;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }