* {
    margin:                                     0;
    padding:                                    0;
}
body {
    /* background-color:                           rgb(27, 27, 27); */
    background-image:                           url("../images/star1.jpg");
    background-size: 100%;
    display:                                    flex;
    flex-direction:                             column;
    justify-content:                            space-between;
    align-items:                                center;
    color:                                      white;
}
input {
    display:                                    inline;
}
.part1 {
    display:                                    flex;
    flex-direction:                             row;
    align-items:                                center;
    justify-content:                            space-around;
    margin:                                     30px 0px 30px 0px;
}
.logo {
    width:                                      200px;
}
.instruments {
    width:                                      400px;
    display:                                    flex;
    justify-content:                            space-around;
}
.instruments span {
    display:                                    flex;
    flex-direction:                             column;
    align-items:                                center;
    padding:                                    5px;
}
.currentInstrument {
    box-shadow:                                 1px 1px 5px gray;
}
.feature {
    width:                                      500px;
}

.part2 {
    display:                                    flex;
    justify-content:                            space-around;
    align-items:                                flex-start;
}
.melody_list {
    /* position:                                   fixed; */
    left:                                       20px;
    margin:                                     0px 0px 0px 0px;
    height:                                     400px;
    width:                                      200px;
    overflow-y:                                 scroll;
    overflow-x:                                 hidden;
}
::-webkit-scrollbar {
    display:                                    none;
}
.lists {
    height:                                     80px;
    width:                                      200px;
    box-shadow:                                 .1px .1px 8px white;
    background-color:                           rgb(30, 32, 32);
    display:                                    flex;
    align-items:                                center;
    justify-content:                            space-around;
}
.currentList {
    background-color:                           rgb(73, 70, 70);
}
.lists .del:hover{
    cursor:                                     pointer;
    color:                                      rgb(248, 53, 53);
}

.rows {
    display:                                    flex;
    flex-direction:                             row;
    /* justify-content:                            space-around; */
}
.launchpad {
    width:                                      600px;
    display:                                    flex;
    flex-direction:                             column;
    align-items:                                center;
    margin:                                     -5px 20px 20px 0px;
}
.launchpad button {
    width:                                      25px;
    height:                                     25px;
    margin:                                     5px;
    border:                                     none;
    border-radius:                              1px;
    background-color:                           rgb(42, 42, 42);
}

.roll_bar {
    margin:                                     35px 0px 35px 0px;
    width:                                      400px;
    display:                                    flex;
    justify-content:                            space-around;

}
.roll_bar span {
    width:                                      80px;
}
.roll_bar input {
    width:                                      200px;
}

.timeline {
    background-color:                           aquamarine;
}





#drag-1, #drag-2 {
    width: 25%;
    min-height: 6.5em;
    margin: 10%;
    background-color: #29e;
    color: white;
    border-radius: 0.75em;
    padding: 4%;
    touch-action: none;
    user-select: none;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }